/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

h1, h2 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="number"],
input[type="text"],
input[type="date"] {
  width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-weight: 700;
}

button[type="submit"]:hover {
  background-color: #0a8f11;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

#remainingBudget {
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  input[type="number"],
  input[type="text"],
  input[type="date"],
  button[type="submit"] {
    padding: 5px;
  }
  
  table {
    font-size: 12px;
  }
}
